.box {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

.box-1 {
  background: #488aff; /* Blue */
}

.box-2 {
  background: #ff5733; /* Red */
}

.box-3 {
  background: #33ff57; /* Green */
}

.box-4 {
  background: #ff33a1; /* Pink */
}

.box-5 {
  background: #a133ff; /* Purple */
}

.box-6 {
  background: #33ffa1; /* Light Green */
}

.box-7 {
  background: #ffb733; /* Orange */
}

.box-8 {
  background: #3375ff; /* Light Blue */
}
