.register-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assure que le contenu prend toute la hauteur de la page */
  }
  
  .full-height {
    height: 100%; /* Utilisé pour que ion-row prenne toute la hauteur disponible */
  }
  
  ion-card {
    width: 100%;
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-container {
    width: 100%;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  p.error {
    color: var(--ion-color-danger); /* Utilisé pour les messages d'erreur */
  }
  
  .link-container {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  