<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'password_reset.RESET_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'password_reset.RESET_PASSWORD' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <p>{{ 'password_reset.CHECK_EMAIL' | translate }}</p>
    <ion-button expand="full" (click)="resendEmail()">{{ 'password_reset.RESEND_EMAIL' | translate }}</ion-button>
  </div>
</ion-content>
