<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      <a routerLink="/home" class="title-link">The Pixel Game</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button (click)="openUserPopover($event)">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <!-- Bouton de sélection de langue ajouté ici -->
      <ion-button (click)="openLanguagePopover($event)">
        <ion-icon slot="icon-only" name="globe"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="darkMode ? 'moon' : 'sunny'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>