.title-link {
    color: white !important;
    text-decoration: none !important;
}

ion-title .title-link, ion-title .title-link:visited, ion-title .title-link:hover, ion-title .title-link:active {
    color: white !important;
    text-decoration: none !important;
}
