/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --toolbar-height: 56px; /* Hauteur initiale, ajustez selon le design */
    //--ion-safe-area-top: var(--toolbar-height); /* Définition de la zone sûre en fonction de la toolbar */
    --content-top-padding: var(--header-height); /* Padding top pour compenser la toolbar */
    --popover-background-color: #ffffff; /* Couleur de fond du popover par défaut */
    --content-top-padding: calc(var(--header-height) + var(--title-height)); /* Padding top pour compenser la toolbar et le title-container */
    --info-height: 5vh; /* Hauteur de l'info-container */
}

/* Valeurs par défaut (mode clair) */
body.light {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    --ion-toolbar-background: #dca545; /* Couleur de fond de la toolbar en mode clair */
    --ion-toolbar-text-color: #ffffff; /* Couleur du texte de la toolbar en mode clair */
    --popover-background-color: #dca545; /* Couleur de fond du popover en mode clair */
    --popover-text-color: #ffffff; /* Couleur du texte du popover en mode clair */
    --popover-hover-background-color: #e0e0e0;
    --popover-focus-background-color: #d0d0d0;
    --login-container-background-color: #dbd8d8; /* Couleur de fond du conteneur de connexion en mode clair */
    --login-container-text-color: #000000; /* Couleur du texte du conteneur de connexion en mode clair */
    --input-background-color: #ffffff; /* Couleur de fond des champs de saisie */
    --input-text-color: #000000; /* Couleur du texte des champs de saisie */
}

/* Mode sombre */
body.dark {
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #000000bb; /* Couleur de fond de la toolbar en mode sombre */
    --ion-toolbar-text-color: #ffffff; /* Couleur du texte de la toolbar en mode sombre */
    --popover-background-color: #000000bb; /* Couleur de fond du popover en mode sombre */
    --popover-text-color: #ffffff; /* Couleur du texte du popover en mode sombre */
    --popover-hover-background-color: #e0e0e0;
    --popover-focus-background-color: #d0d0d0;
    --login-container-background-color: #000000; /* Couleur de fond du conteneur de connexion en mode sombre */
    --login-container-text-color: #ffffff; /* Couleur du texte du conteneur de connexion en mode sombre */
    --input-background-color: #1e1e1e; /* Couleur de fond des champs de saisie */
    --input-text-color: #ffffff; /* Couleur du texte des champs de saisie */
}

.page-content {
    padding-top: var(--toolbar-height) !important;
  }
  
ion-content.page-content {
    padding: 0;
    padding-top: var(--ion-safe-area-top) !important;
}

/* Appliquer les variables aux éléments de la toolbar */
ion-toolbar {
    height: var(--toolbar-height);
    background-color: var(--ion-toolbar-background);
    color: var(--ion-toolbar-text-color);
}

ion-input {
    --background: var(--input-background-color);
    --color: var(--input-text-color);
}

.title-link {
    color: var(--ion-toolbar-text-color);
    text-decoration: none;
}

/* Appliquer les variables au style du popover */
.popover-content {
    background-color: var(--popover-background-color);
    color: var(--popover-text-color);
}

/* Utilisation des variables CSS pour le style du popover */
.custom-popover-list .custom-popover-item {
    --background: var(--popover-background-color);
    --color: var(--popover-text-color);
  }

ion-list {
    background-color: var(--popover-background-color) !important;
}

/* Appliquer les variables aux classes */
.flex-center {
    background-color: var(--flex-center-background-color);
    color: var(--flex-center-text-color);
}

.login-container {
    background-color: var(--login-container-background-color);
    color: var(--login-container-text-color);
}

/*.title-container {
    background-color: var(--ion-toolbar-background);
    color: var(--ion-toolbar-text-color);
}*/

