<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Grille Réactive Imbriquée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="box box-1 small-box">{{ 'READY_TO_PLACE_PIXEL' | translate }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="box box-2 medium-box">Compteur de pixel</div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="box box-3 medium-box">Boutique</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" size-md="2" size-lg="3">
        <div class="box box-4 tall-box">PUB</div>
      </ion-col>
      <ion-col size="10" size-md="8" size-lg="6">
        <div class="box box-5 tall-box">{{ 'READY_TO_PLACE_PIXEL' | translate }}</div>
      </ion-col>
      <ion-col size="1" size-md="2" size-lg="3">
        <div class="box box-6 tall-box">PUB</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
